
* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: black;
    color: white;
}

/* --- INDEX --- */
.title {
    position: relative;
    display: inline-block;
}

.title-text {
    position: absolute;
    height: 100%;
    text-align: center;    
    width: 100%;
    color: white;
}

.title-text::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.title-text h1 {
    display: inline-block;
    font-size: 6vw;
    color: #FFF;
    position: relative;
    z-index: 1;
}

.title-img {
    opacity: 0.2;
    width: 100%;
    background-position: center;
}

.worship {
    margin-bottom: 100px;
}

.worship-title {
    text-align: center;
    font-size: calc(24px + 0.5vw);
}

@media screen and (max-width: 768px) {
    .worship-title {
        font-size: 16px;
    }
}

.worship-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

@media screen and (max-width: 768px) {
    .worship-wrap {
        display: block;
    }
}

.worship-1 {
    display: flex;
    width: 25%;
    max-width: 280px;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .worship-1 {
        font-size: 16px;
        max-width: 100%;
        width: 100%;   
    }
}

.worship-1 p {
    text-align: left;
}

@media screen and (max-width: 768px) {
    .worship-1 p {
        margin-bottom: 2px;
        text-align: center;
    }
}

.worship-2 {
    display: flex;
    width: 25%;
    max-width: 260px;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .worship-2 {
        font-size: 18px;
        max-width: 360px;
        width: 100%;
        flex-direction: row;
        margin-top: 35px;
    }
}

.worship-2 p {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .worship-2 p {
        margin-top: 50px;
        font-weight: bold;
        text-align: left;
        width: 50%;
        margin: auto;
    }
}

.stream-button {
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .stream-button {
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .worship-2 img {
        height: 65px;
    }
}

/* HAMBURGER & NAVBAR */
/* [ON BIG SCREEN] */
/* (A) WRAPPER */
#hamnav {
    width: 100%;
    background: #000;
    font-size: 1.2em;
  }
  
  /* (B) HORIZONTAL MENU ITEMS */
  #hamitems { display: flex; }
  #hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  #hamitems a:hover { background: #031bfc; }
  
  /* (C) HIDE HAMBURGER */
  #hamnav label, #hamburger { display: none; }

  /* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
    /* (A) BREAK INTO VERTICAL MENU */
    #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid #333;
    }
   
    /* (B) SHOW HAMBURGER ICON */
    #hamnav label { 
      display: inline-block; 
      color: white;
      background: #031bfc;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
  
    /* (C) TOGGLE SHOW/HIDE MENU */
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
  }

/* FOOTER */
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .footer {
        font-size: 12px;
    }
}

/* --- ABOUT --- */
.history-wrap {
    display: flex;
    padding: 16px;
    max-width: 980px;
    margin: 0 auto;
}

.history-txt h2 {
    font-size: 28px;
}

.history-img img {
    border-radius: 20px;
    height: 350px;
    float: right;
    margin-left: 20px;
    margin-bottom: 12px;
}

.history-txt p {
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    .history-txt h2 {
        display: flex;
        justify-content: center;
    }

    .history-img {
        display: flex;
    }

    .history-img img {
        float: none;
        margin: 0 auto;
        height: 300px;
    }

    .history-txt p {
        font-size: 0.95em;
    }
}

.worship-about-wrap {
    display: flex;
    padding: 16px;
    max-width: 980px;
    margin: 0 auto;
}

.worship-txt h2 {
    font-size: 28px;
}

.worship-img img {
    display: block;
    border-radius: 20px;
    height: 300px;
    margin: 0 auto;
}

.worship-txt p {
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    .worship-txt h2 {
        display: flex;
        justify-content: center;
    }

    .worship-img {
        display: flex;
    }

    .worship-img img {
        float: none;
        margin: 0 auto;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    .worship-txt p {
        font-size: 0.95em;
    }
}

.pastor-wrap {
    display: flex;
    padding: 16px;
    max-width: 980px;
    margin: 0 auto 50px;
}

.pastor-txt h2 {
    font-size: 28px;
}

.pastor-img img {
    border-radius: 20px;
    height: 300px;
    float: right;
    margin-left: 20px;
    margin-bottom: 12px;
}

.pastor-txt p {
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    .pastor-txt h2 {
        display: flex;
        justify-content: center;
    }

    .pastor-img {
        display: flex;
    }

    .pastor-img img {
        float: none;
        margin: 0 auto;
        height: 250px;
    }

    .pastor-txt p {
        font-size: 0.95em;
    }
}

/* --- CONTACT --- */
.contact-title {
    text-align: center;
    font-size: 2em;
}

.contact-wrap {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
}

.contact-email {
    display: block;
    flex-basis: 33%;
    justify-content: center;
}

.contact-email h2 {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 30px;
}

.contact-email-church {
    text-align: center;
}

.contact-email-pastor {
    text-align: center;
}

.contact-social-media {
    display: block;
    flex-basis: 33%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.contact-social-media-link img {
    margin: auto 15px;
    vertical-align: middle;
}

.contact-social-media h2 {
    text-align: center;
    font-size: xx-large;
}

.contact-map {
    display: block;
    flex-basis: 33%;
    justify-content: center;
    flex-direction: column;
}

.contact-map h2 {
    text-align: center;
    font-size: xx-large;
}

.contact-map iframe {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

/* --- EVENTS/GROUPS --- */
.groups {
    display: flex;
    flex-direction: column;
}

.groups h1 {
    text-align: center;
    font-size: 3em;
    margin: 10px;
}

.book-study {
    display: flex;
    width: 75%;
    max-width: 720px;
    align-items: center;
    margin: 20px auto;
    gap: 25px;
}

.book-study-img h2 {
    margin: 4px auto;
    text-align: center;
}

.book-study-img img {
    margin: 4px auto;
}

.book-study-txt {
    font-size: 1.1em;
}

@media screen and (max-width: 768px) {
    .book-study {
        flex-direction: column;
        gap: 0;
    }

    .book-study-img img {
        display: flex;
    }
}

.table-talk {
    display: flex;
    width: 75%;
    max-width: 720px;
    align-items: center;
    margin: 20px auto;
    gap: 25px;
}

.table-talk-img h2 {
    margin: 4px auto;
    text-align: center;
}

.table-talk-img img {
    margin: 4px auto;
}

.table-talk-txt {
    font-size: 1.1em;
}

@media screen and (max-width: 768px) {
    .table-talk {
        flex-direction: column;
        gap: 0;
    }

    .table-talk-img img {
        display: flex;
    }
}

.bible-class {
    display: flex;
    width: 75%;
    max-width: 720px;
    align-items: center;
    margin: 20px auto;
    gap: 25px;
}

.bible-class-img h2 {
    margin: 4px auto;
    text-align: center;
}

.bible-class-img img {
    margin: 4px auto;
}

.bible-class-txt {
    font-size: 1.1em;
}

@media screen and (max-width: 768px) {
    .bible-class {
        flex-direction: column;
        gap: 0;
    }

    .bible-class-img img {
        display: flex;
    }
}

.prayer-group {
    display: flex;
    width: 75%;
    max-width: 720px;
    align-items: center;
    margin: 20px auto;
    gap: 25px;
}

.prayer-group-img h2 {
    margin: 4px auto;
    text-align: center;
}

.prayer-group-img img {
    margin: 4px auto;
}

.prayer-group-txt {
    font-size: 1.1em;
}

@media screen and (max-width: 768px) {
    .prayer-group {
        flex-direction: column;
        gap: 0;
    }

    .prayer-group-img img {
        display: flex;
    }
}

.qa-night {
    display: flex;
    width: 75%;
    max-width: 720px;
    align-items: center;
    margin: 20px auto;
    gap: 25px;
}

.qa-night-img h2 {
    margin: 4px auto;
    text-align: center;
}

.qa-night-img img {
    margin: 4px auto;
}

.qa-night-txt {
    font-size: 1.1em;
}

@media screen and (max-width: 768px) {
    .qa-night {
        flex-direction: column;
        gap: 0;
    }

    .qa-night-img img {
        display: flex;
    }
}