
* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: black;
    color: white;
    margin: 0%;
}

/* --- INDEX --- */
.title {
    position: relative;
    display: inline-block;
}

.title-text {
    position: absolute;
    height: 100%;
    text-align: center;    
    width: 100%;
    color: white;
}

.title-text::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.title-text h1 {
    display: inline-block;
    font-size: 6vw;
    color: #FFF;
    position: relative;
    z-index: 1;
}

.title-img {
    opacity: 0.2;
    width: 100%;
    background-position: center;
}

.worship {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.worship-title {
    text-align: center;
    font-size: calc(24px + 0.5vw);
}

@media screen and (max-width: 768px) {
    .worship-title {
        font-size: 16px;
    }
}

.worship-wrap {
   text-align: center;
}

.worship-txt {
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .worship-txt {
        font-size: 16px;
        max-width: 100%;
        width: 100%;   
    }
}

.worship-button button {
    font-size: 20px;
    border-radius: 8px;
    transition-duration: 0.3s;
    padding: 4px 8px;
}

.worship-button button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.new {
    background-color: white;
    color: black;
}

.new-wrap {
    text-align: center;
}

.new-title {
    font-size: calc(24px + 0.5vw);
}

@media screen and (max-width: 768px) {
    .new-title {
        font-size: 16px;
    }
}

.new-txt {
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .new-txt {
        font-size: 16px;
        max-width: 100%;
        width: 100%;   
    }
}

.new-button button {
    font-size: 20px;
    border-radius: 8px;
    transition-duration: 0.3s;
    padding: 4px 8px;
}

.new-button button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.involve-wrap {
    text-align: center;
}

.involve-title {
    font-size: calc(24px + 0.5vw);
}

@media screen and (max-width: 768px) {
    .involve-title {
        font-size: 16px;
    }
}

.involve-txt {
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .involve-txt {
        font-size: 16px; 
    }
}

.involve-button button {
    font-size: 20px;
    border-radius: 8px;
    transition-duration: 0.3s;
    padding: 4px 8px;
}

.involve-button button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.update {
    background-color: white;
    color: black;
}

.update-wrap {
    text-align: center;
}

.update-title {
    font-size: calc(24px + 0.5vw);
}

@media screen and (max-width: 768px) {
    .update-title {
        font-size: 16px;
    }
}

.update-txt {
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .update-txt {
        font-size: 16px; 
    }
}

.update-button button {
    font-size: 20px;
    border-radius: 8px;
    transition-duration: 0.3s;
    padding: 4px 8px;
}

.update-button button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}



/* HAMBURGER & NAVBAR */
/* [ON BIG SCREEN] */
/* (A) WRAPPER */
#hamnav {
    width: 100%;
    background: #000;
    font-size: 1.2em;
  }
  
  /* (B) HORIZONTAL MENU ITEMS */
  #hamitems { display: flex; }
  #hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  #hamitems a:hover { background: #031bfc; }
  
  /* (C) HIDE HAMBURGER */
  #hamnav label, #hamburger { display: none; }

  /* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
    /* (A) BREAK INTO VERTICAL MENU */
    #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid #333;
    }
   
    /* (B) SHOW HAMBURGER ICON */
    #hamnav label { 
      display: inline-block; 
      color: white;
      background: #031bfc;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
  
    /* (C) TOGGLE SHOW/HIDE MENU */
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
  }

/* FOOTER */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .footer {
        font-size: 12px;
    }
}

/* --- ABOUT --- */
.history-wrap {
    display: flex;
    padding: 16px;
    max-width: 980px;
    margin: 0 auto;
}

.history-txt h2 {
    font-size: 28px;
}

.history-img img {
    border-radius: 20px;
    height: 350px;
    float: right;
    margin-left: 20px;
    margin-bottom: 12px;
}

.history-txt p {
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    .history-txt h2 {
        display: flex;
        justify-content: center;
    }

    .history-img {
        display: flex;
    }

    .history-img img {
        float: none;
        margin: 0 auto;
        height: 300px;
    }

    .history-txt p {
        font-size: 0.95em;
    }
}

.worship-about-wrap {
    display: flex;
    padding: 16px;
    max-width: 980px;
    margin: 0 auto;
}

.worship-about-txt h2 {
    font-size: 28px;
}

.worship-img img {
    display: block;
    border-radius: 20px;
    height: 300px;
    margin: 0 auto;
}

.worship-about-txt p {
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    .worship-txt h2 {
        display: flex;
        justify-content: center;
    }

    .worship-img {
        display: flex;
    }

    .worship-img img {
        float: none;
        margin: 0 auto;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    .worship-txt p {
        font-size: 0.95em;
    }
}

.pastor-wrap {
    display: flex;
    padding: 16px;
    max-width: 980px;
    margin: 0 auto 50px;
}

.pastor-txt h2 {
    font-size: 28px;
}

.pastor-img img {
    border-radius: 20px;
    height: 300px;
    float: right;
    margin-left: 20px;
    margin-bottom: 12px;
}

.pastor-txt p {
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    .pastor-txt h2 {
        display: flex;
        justify-content: center;
    }

    .pastor-img {
        display: flex;
    }

    .pastor-img img {
        float: none;
        margin: 0 auto;
        height: 250px;
    }

    .pastor-txt p {
        font-size: 0.95em;
    }
}

/* --- CONTACT --- */
.contact-title h2 {
    text-align: center;
    font-size: 32px;
    line-height: 1.5;
}

.contact-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1080px;
    margin: 0 auto;
}

.contact-email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

@media screen and (max-width: 768px) {
    .contact-email {
        display: block;
    }
}

.contact-email-title h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 0;
}

.contact-email-title img {
    display: block;
    margin: 0 auto;
    height: 80px;
}

@media screen and (max-width: 768px) {
    .contact-email-title h2 {
        font-size: 28px;
    }

    .contact-email-title img {
        height: 70px;
    }
}

@media screen and (max-width: 768px) {
    .contact-email-emails {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.contact-email-church {
    text-align: center;
    margin-bottom: 40px;
    line-height: 0.5;
}

.contact-email-church p {
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .contact-email-church p {
        font-size: 16px;
    }
}

.contact-email-pastor {
    text-align: center;
    line-height: 0.5;
}

.contact-email-pastor p {
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .contact-email-pastor p {
        font-size: 16px;
    }
}

.contact-social-media {
    margin-top: 30px;
    margin-left: 8px;
    margin-right: 8px;
}

.contact-social-media h2 {
    text-align: center;
    font-size: 32px;
}

@media screen and (max-width: 768px) {
    .contact-social-media h2 {
        font-size: 28px;
    }
}

.contact-social-media-fb {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .contact-social-media-fb {
        flex-direction: column;
    }
}

.fb-img {
    width: 150px;
}

@media screen and (max-width: 768px) {
    .fb-img {
        width: 100%;
        display: flex;
        justify-content: center; 
    }
}

.fb-img img {
    margin-left: 7px;
    height: 70px;
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    .fb-img img {
        height: 60px;
        margin-left: 0;
    }
}


.fb-txt button {
    display: block;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    outline: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    white-space: nowrap;
    border: 2px solid transparent;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.fb-txt button:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
    border: 2px solid white;
    cursor: pointer;
    background-color: black;
    color: white;
}

.contact a {
    text-decoration: none;
}

.fb-txt {
    max-width: 250px;
}

@media screen and (max-width: 768px) {
    .fb-txt {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
    }

    .fb-txt p {
        text-align: center;
        font-size: 16px;
        padding: 0px 12px;
    }
}

.contact-social-media-yt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-top: 45px;
}

@media screen and (max-width: 768px) {
    .contact-social-media-yt {
        flex-direction: column;
    }
}

.yt-img {
    width: 150px;
}

@media screen and (max-width: 768px) {
    .yt-img {
        width: 100%;
        display: flex;
        justify-content: center; 
    }
}

.yt-img img {
    height: 85px;
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    .yt-img img {
        height: 73px;
    }
}

.yt-txt {
    max-width: 250px;
}

@media screen and (max-width: 768px) {
    .yt-txt {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
        margin-bottom: 100px;
    }

    .yt-txt p {
        text-align: center;
        font-size: 16px;
        padding: 0px 12px;
    }
}

.yt-txt button {
    display: block;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    outline: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    white-space: nowrap;
    border: 2px solid transparent;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.yt-txt button:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
    border: 2px solid white;
    cursor: pointer;
    background-color: black;
    color: white;
}

.contact-map h2 {
    text-align: center;
    font-size: xx-large;
}

.contact-map img {
    height: 80px;
}

.contact-map iframe {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

/* --- GROUPS --- */
.groups {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.groups h2 {
    text-align: center;
    font-size: 32px;
}

.book-study {
    display: flex;
    width: 75%;
    max-width: 720px;
    align-items: center;
    margin: 20px auto;
    gap: 25px;
}

.book-study-img h2 {
    font-size: 28px;
    line-height: 1.2;
    margin: 4px auto;
    text-align: center;
}

.book-study-img img {
    margin: 4px auto;
}

.book-study-txt {
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .book-study {
        flex-direction: column;
        gap: 0;
    }

    .book-study-img img {
        display: flex;
    }

    .book-study-txt p {
        font-size: 16px;
    }
}

.table-talk {
    display: flex;
    width: 75%;
    max-width: 720px;
    align-items: center;
    margin: 20px auto;
    gap: 25px;
}

.table-talk-img h2 {
    font-size: 28px;
    line-height: 1.2;
    margin: 4px auto;
    text-align: center;
}

.table-talk-img img {
    margin: 4px auto;
}

.table-talk-txt {
    font-size: 1.1em;
}

@media screen and (max-width: 768px) {
    .table-talk {
        flex-direction: column;
        gap: 0;
    }

    .table-talk-img img {
        display: flex;
    }

    .table-talk-txt p {
        font-size: 16px;
    }
}

.bible-class {
    display: flex;
    width: 75%;
    max-width: 720px;
    align-items: center;
    margin: 20px auto;
    gap: 25px;
}

.bible-class-img h2 {
    font-size: 28px;
    line-height: 1.2;
    margin: 4px auto;
    text-align: center;
}

.bible-class-img img {
    margin: 4px auto;
}

.bible-class-txt {
    font-size: 1.1em;
}

@media screen and (max-width: 768px) {
    .bible-class {
        flex-direction: column;
        gap: 0;
    }

    .bible-class-img img {
        display: flex;
    }

    .bible-class-txt p {
        font-size: 16px;
    }
}

.prayer-group {
    display: flex;
    width: 75%;
    max-width: 720px;
    align-items: center;
    margin: 20px auto;
    gap: 25px;
}

.prayer-group-img h2 {
    font-size: 28px;
    line-height: 1.2;
    margin: 4px auto;
    text-align: center;
}

.prayer-group-img img {
    margin: 4px auto;
}

.prayer-group-txt {
    font-size: 1.1em;
}

@media screen and (max-width: 768px) {
    .prayer-group {
        flex-direction: column;
        gap: 0;
    }

    .prayer-group-img img {
        display: flex;
    }

    .prayer-group-txt p {
        font-size: 16px;
    }
}

.qa-night {
    display: flex;
    width: 75%;
    max-width: 720px;
    align-items: center;
    margin: 20px auto;
    gap: 25px;
}

.qa-night-img h2 {
    font-size: 28px;
    line-height: 1.2;
    margin: 4px auto;
    text-align: center;
}

.qa-night-img img {
    margin: 4px auto;
}

.qa-night-txt {
    font-size: 1.1em;
}

@media screen and (max-width: 768px) {
    .qa-night {
        flex-direction: column;
        gap: 0;
    }

    .qa-night-img img {
        display: flex;
    }

    .qa-night-txt p {
        font-size: 16px;
    }
}

/* --- EVENTS --- */
.events-title h2 {
    font-size: 32px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .events-title h2 {
        font-size: 24px;
    }
}
.calendar {
    vertical-align: middle;
}

.responsive-cal {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.responsive-cal iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}