/* --- INDEX --- */
@font-face {
    font-family: myfont;
    src: url("/font/Montserrat/Montserrat-Regular.ttf");
};

* {
    box-sizing: border-box;
    font-family: myfont;
}

body {
    background-color: black;
    color: white;
}

.title {
    position: relative;
    display: inline-block;
}

.title-text {
    position: absolute;
    height: 100%;
    text-align: center;    
    width: 100%;
    color: white;
}

.title-text::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.title-text h1 {
    display: inline-block;
    font-size: 6vw; /*or whatever you want*/
    color: #FFF;
    position: relative;
    z-index: 1;
}

.title-img {
    opacity: 0.2;
    width: 100%;
    background-position: center;
}

.worship-title {
    text-align: center;
    font-size: 3vw;
}

/* HAMBURGER & NAVBAR */


/* FOOTER */
/*.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}*/

/* --- ABOUT --- */


/* --- CONTACT --- */
.contact-title {
    text-align: center;
    font-size: 2em;
}

.contact-wrap {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
}

.contact-email {
    display: block;
    flex-basis: 33%;
    justify-content: center;
}

.contact-email h2 {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 30px;
}

.contact-email-church {
    text-align: center;
}

.contact-email-pastor {
    text-align: center;
}

.contact-social-media {
    display: block;
    flex-basis: 33%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.contact-social-media-link img {
    margin: auto 30px;
    vertical-align: middle;
}

.contact-social-media h2 {
    text-align: center;
    font-size: xx-large;
}

.contact-map {
    display: block;
    flex-basis: 33%;
    justify-content: center;
    flex-direction: column;
}

.contact-map h2 {
    text-align: center;
    font-size: xx-large;
}

.contact-map iframe {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

/* --- EVENTS/GROUPS --- */
.groups {
    display: flex;
    flex-direction: column;
}

.groups h1 {
    text-align: center;
    font-size: 3em;
    margin: 10px;
}

.book-study {
    display: flex;
    width: 75%;
    max-width: 720px;
    align-items: center;
    margin: 20px auto;
    gap: 25px;
}

.book-study-img h2 {
    margin: 4px auto;
    text-align: center;
}

.book-study-img img {
    margin: 4px auto;
}

.book-study-txt {
    font-size: 1.1em;
}

@media screen and (max-width: 768px) {
    .book-study {
        flex-direction: column;
        gap: 0;
    }

    .book-study-img img {
        display: flex;
    }
}

.table-talk {
    display: flex;
    width: 75%;
    max-width: 720px;
    align-items: center;
    margin: 20px auto;
    gap: 25px;
}

.table-talk-img h2 {
    margin: 4px auto;
    text-align: center;
}

.table-talk-img img {
    margin: 4px auto;
}

.table-talk-txt {
    font-size: 1.1em;
}

@media screen and (max-width: 768px) {
    .table-talk {
        flex-direction: column;
        gap: 0;
    }

    .table-talk-img img {
        display: flex;
    }
}

.bible-class {
    display: flex;
    width: 75%;
    max-width: 720px;
    align-items: center;
    margin: 20px auto;
    gap: 25px;
}

.bible-class-img h2 {
    margin: 4px auto;
    text-align: center;
}

.bible-class-img img {
    margin: 4px auto;
}

.bible-class-txt {
    font-size: 1.1em;
}

@media screen and (max-width: 768px) {
    .bible-class {
        flex-direction: column;
        gap: 0;
    }

    .bible-class-img img {
        display: flex;
    }
}

.prayer-group {
    display: flex;
    width: 75%;
    max-width: 720px;
    align-items: center;
    margin: 20px auto;
    gap: 25px;
}

.prayer-group-img h2 {
    margin: 4px auto;
    text-align: center;
}

.prayer-group-img img {
    margin: 4px auto;
}

.prayer-group-txt {
    font-size: 1.1em;
}

@media screen and (max-width: 768px) {
    .prayer-group {
        flex-direction: column;
        gap: 0;
    }

    .prayer-group-img img {
        display: flex;
    }
}

.qa-night {
    display: flex;
    width: 75%;
    max-width: 720px;
    align-items: center;
    margin: 20px auto;
    gap: 25px;
}

.qa-night-img h2 {
    margin: 4px auto;
    text-align: center;
}

.qa-night-img img {
    margin: 4px auto;
}

.qa-night-txt {
    font-size: 1.1em;
}

@media screen and (max-width: 768px) {
    .qa-night {
        flex-direction: column;
        gap: 0;
    }

    .qa-night-img img {
        display: flex;
    }
}